body{
    background-color: rgb(178, 29, 29);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.container{
    margin-top: 0px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 70%;
    border-top: 30px solid #333;
    border-bottom:30px solid #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.activities{
    margin-bottom: 20px;
    background-color: #e9eff1;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    padding: 10px;
    color:rgb(178, 29, 29);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{  
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    padding: 10px;
    margin: 10px;
    width: 98%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: #dddddd;
}

th,td {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]{
    padding: 5px;
    box-sizing: border-box;
    margin: 0 3px;
    align-items: left;
}

input[type= "text"]{
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    text-align: center;
}
.Result-Btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box{
    width: 55px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.resultsButton{
    background-color: rgb(178, 29, 29);
    color: white;
    border: none;
    padding: 10px 20px;
    gap: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#addRow{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}
button:hover{
    background-color: #A00000;
}

.buttons {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#result{
    color: rgb(178, 29, 29);
    font-size: 24px;  
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}